.container{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    font-family:cursive;
    font-size: 30px;

}
.height{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: monospace;
    font-size: 20px;
    box-shadow: 2px 2px 5px gray;
    padding: 5px;

}
.weight{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: monospace;
    font-size: 20px;
    box-shadow: 2px 2px 5px gray;
    padding: 5px;

}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: monospace;
    font-size: 20px;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    background-color: lightblue;
     transition: background-color 0.3s;
}
.btn:hover{
    background-color: deepskyblue;
}
   
.result{
    margin-top: 20px;
    font-size: 25px;
    color: darkblue;
    font-family: monospace;
}
